@import "../styles/animation.scss";
.register-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .register-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .auth-actions {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}
